<%-include('./partials/header')%>
<body>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="../../public/assets/image/triste.png" alt="cara triste"class="error-image">
                <h1 class="error-title">ERROR</h1>
                <p class="error-description">USUARIO O CONTRASEÑA INCORRECTOS</p>
                <button class="btn btn-warning mt-4 btn-error"onClick="location.href='/login'">Volver</button>
            </div>   
        </div>
    </div>
</body>
</html>