<%-include('./partials/header.ejs')%> <!--Incluir header-->

<body>
    <section class="container mt-5">   <!--Formulario de login-->
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <h2>Login</h2>
                <form action="/login"method="post"class="form-login-container mt-5">
                    <label for="email" class="form-label">Email</label>
                    <input type="text"placeholder="Ingrese el email" id="email"name="email"required class="form-control text-center"autocomplete="off">
                    <label for="password"class="form-label mt-3">Contraseña</label>
                    <input type="password"class="form-control text-center"placeholder="Ingrese la contraseña"id="password"name="password"required>
                    <section class="mt-3">
                        <button class="btn btn-success btn-login">Ingresar</button>
                        <button type="button" class="mt-3 btn btn-primary btn-register"onClick="location.href='/register'">Registrarse</button>
                    </section>
                </form>
            </div>  
        </div>
    </section>
</body>
</html>
